@import url('https://fonts.googleapis.com/css?family=Lato:700,900|Oswald:400,700');
:root {
	--white: #FBFBFB;
	--black: #212931;
	--black-translucent: #212931FA;
	--light-grey: #B6B4B4;
	--dark-grey: #375473;
	--button: #6C501B;
	--button-hover: #7A5A1F;
	--button-active: #513C15;
	--secondary-button: #BDBDDB;
	--secondary-button-hover: #DEDEED;
	--secondary-button-active: #9C9CC9;
	--selected: #E6B83D;
	--selected-hover: #ECC96A;
	--selected-active: #D4A31C;
	--remove-hover: #A73F16;
	--remove-active: #D4501C;
}
/*------------
ELEMENT RESETS
-------------*/
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: var(--black);
	background-color: var(--black);
	text-align: left;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#wrapper {
	width: 100%;
	height: 100%;
}
input, select, div.chosen-container {
	pointer-events: auto;
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}
input, select {
	width: calc( 100% - 1px );
	padding: 6px;
	border: none;
	background-color: var(--white);
	color: var(--black);
	font-size: 13px;
    line-height: 18px;
	font-family: 'Lato', sans-serif;
}
input {
	padding: 8px 6px 6px 6px;
}
h2 {
    color: var(--white);
    font-family: 'Oswald', sans-serif;
	font-size: 35px;
    line-height: 1em;
	margin: 20px 0;
}
h3, h4 {
	margin: 0;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}
h4 {
    font-size: 20px;
    line-height: 20px;
    font-variant: small-caps;
}
p {
	margin-top: 0;
}
strong {
	font-weight: 800;
}
.hidden-section {
	display: none!important;
}
.invisible-section {
	visibility: hidden;
}
.mobile {
	display: none;
}

/*------------------
CHARACTER ATTRIBUTES
------------------*/
#char-attributes {
	max-width: 660px;
}
.char-attribute-row {
	display: flex;
	margin: 15px;
}
.char-attribute-row > div:nth-last-child(n+2){
	margin-right: 15px;
}

/* Text in between inputs */
.char-attribute-connectors {
	line-height: 37px;
	color: var(--white);
	font-family: 'Oswald', sans-serif;
	white-space: nowrap;
}

/* Character attributes */
.char-attribute {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	width: 100%;
}
.char-attribute-input-border {
	background: var(--button);
	background: -moz-linear-gradient(top, var(--black) 0%,  var(--button) 100%);
	background: -webkit-linear-gradient(top, var(--black) 0%, var(--button) 100%);
	background: linear-gradient(to bottom, var(--black) 0%, var(--button) 100%);
	padding: 4px;
	width: 100%;
}
.input-line {
	width: calc( 100% - 12px)
}
label.under-label {
	background: var(--button);
    color: var(--white);
    min-width: fit-content;
    width: 20%;
    padding: 2px 25px 2px 5px;
    font-family: 'Oswald', sans-serif;
}

/* Buttons */
.char-attribute-button {
	height: 28px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	position: relative;
	top: -28px;
	margin-bottom: -28px;
}
.char-attribute-button div {
	background-color: var(--black);
	color: var(--secondary-button);
	box-shadow: inset 0 0 0 1px var(--secondary-button);
	padding: 4px 4px 5px 4px;
    line-height: 9px;
    display: inline-flex;
	font-size: 12px;
	cursor: pointer;
	pointer-events: auto;
}
.char-attribute-button div:hover {
	color: var(--secondary-button-hover);
	box-shadow: inset 0 0 0 1px var(--secondary-button-hover);
}
.char-attribute-button div:active {
	color: var(--secondary-button-active);
	box-shadow: inset 0 0 0 1px var(--secondary-button-active);
}
#reset-button div {
	padding: 4px 5px 5px 4px;
}
.clicked {
    background-color: var(--button)!important;
	color: var(--white)!important;
	box-shadow: none!important;
}
.clicked:hover {
	background: var(--button-hover)!important;
}
.clicked:active {
	background: var(--button-active)!important;
}
/*------------
SPELLBOOK AREA
------------*/
.spellbook-button {
	width: fit-content;
	background: var(--button);
    color: var(--white);
    padding: 8px 20px;
    font-family: 'Oswald', sans-serif;
	cursor: pointer;
	pointer-events: auto;
	white-space: nowrap;
	margin: 0 15px;
}
.spellbook-button:hover {
	background: var(--button-hover);
}
.spellbook-button:active {
	background: var(--button-hover);
}
/*--------
SPELLBOOK
---------*/
#spellbook-background {
	width: 100%;
	height: 100%;
	background: var(--black-translucent);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	overflow-y: auto;
    pointer-events: auto;
}
#spellbook-wrapper {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
	max-width: 800px;
	margin: 0 auto;
	pointer-events: none;
	padding: 30px;
}
#spellbook-title {
	display:flex;
	align-items: center;
}
#spellbook-title img {
	width: 48px;
	height: 48px;
	margin-right: 10px;
}
#spell-list {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	flex-direction: column;
}
.spell {
	background-color: var(--white);
	color: var(--black);
	border-radius: 12px;
	font-size: 13px;
	line-height: 18px;
	margin: 10px;
	cursor: pointer;
	pointer-events: auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.spell-icon {
	background-image: url('images/unknown.png');
	background-size: cover;
	height: 24px;
	width: 24px;
	margin-right: 7px;
	margin-bottom: -3px;
	display: inline-block;
}
.action-spell {
	background-image: url('images/action.png');
}
.items-spell {
	background-image: url('images/items.png');
}
.spell-name {
	background-color: var(--button);
	color: var(--white);
    font-family: 'Oswald', sans-serif;
    padding: 12px 15px 15px 15px;
    font-size: 21px;
    line-height: 21px;
	border-radius: 8px 8px 0 0;
}
.spell-tier {
	float:right;
	display: inline-block;
}
.stats {
	padding: 20px;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stats:empty {
	padding-top: 0!important;
}
.stats span {
	flex-basis: 50%;
}
.stats span:nth-child(even) {
    text-align: right;
}
.spell-description {
	padding: 0 20px;
	clear: both;
}
.spell-origin {
	color: var(--dark-grey);
	font-style: italic;
	text-align: right;
	margin-left: auto;
}
.required {
	cursor: default;
	pointer-events: none;
}
.spell:hover .spell-name {
	background: var(--button-hover);
}
.spell:active .spell-name {
	background: var(--button-active);
}
.selected .spell-name, .required .spell-name {
	background-color: var(--selected);
	color: var(--black);
}
.selected .spell-icon, .required .spell-icon {
	filter: brightness(15%);
}
.selected:hover .spell-name {
	background-color: var(--selected-hover);
}
.selected:active .spell-name {
	background-color: var(--selected-active);
}
.disabled-spell {
	filter: grayscale(80%);
    opacity: 0.9;
	cursor: default;
}
.disabled-spell .spell-name {
	background-color: var(--button)!important;
	color: var(--white)!important;
}
/*---------
SPELL LISTS
---------*/
#spellbook-area {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 15px 0 0 15px;
}
.spell-section, #equipment-section {
	margin: 0 15px 15px 0;
	width: 450px;
    min-width: 260px;
}
#equipment-section {
	width: auto;
}
#equipment-list {
	padding-bottom: 20px;
}
.spell-section {
	display: none;
}
.spell-section-bar {
	height: 80px;
	background: #6C501B;
	border-radius: 0 0 0 20px;
	width: 10px;
	float:left;
}
.spell-section-wrap {
	background: var(--button);
	padding: 3px;
	border-radius: 0 20px 0 20px;
	margin-left: 10px;
	position: relative;
}
.spell-header {
	margin: 0;
    color: var(--black);
	background: var(--white);
    padding: 15px;
	border-radius: 20px 20px 0 0;
	text-transform: uppercase;
	font-weight: 400;
}
.spell-list {
	background: var(--white);
    color: var(--black);
	padding: 0 15px 10px 15px;
	border-radius: 0 0 20px 20px;
	display: flex;
	flex-direction: column;
}
.list-spell {
    display: flex;
	align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
	padding: 0 5px 2px 5px;
	font-size: 13px;
	line-height: 18px;
    border-bottom: 1px dashed var(--secondary-button);
    white-space: nowrap;
	pointer-events: auto;
}
.list-spell:hover, .list-spell:active {
	color: var(--button);
	border-color: var(--button);
}
.list-spell span:nth-child(n+2) {
	padding-left: 20px;
}
.list-item > td, .list-item > th {
	font-family: 'Lato', sans-serif;
	margin-bottom: 10px;
	padding: 0 5px 2px 5px;
	font-size: 13px;
	line-height: 18px;
    border-bottom: 1px dashed var(--secondary-button);
    white-space: nowrap;
	pointer-events: auto;
}
.list-item > td:last-child {
	border-color: var(--white);
}
.list-item > th {
	text-align: center;
	border-bottom: 1px solid var(--black);
}
.item-name {
	min-width: 120px;
	margin-right: 10px;
	padding: 0 5px 1.5px 5px;
}
.item-type-cell .chosen-single span {
	text-align: center;
}
.item-cost {
	min-width: 70px;
	margin-right: 10px;
	padding: 0 5px 1.5px 5px;
	text-align: right;
}
.item-cost:after {
	content: '\20A1';
	margin-left: 1px;
}
.item-weight {
	padding: 0 5px 1.5px 5px;
	min-width: 10px;
	text-align: center;
}
.list-item .chosen-single {
	border: 0!important;
	box-shadow: none!important;
}
.list-item .chosen-single > div {
	display: none!important;
}
.list-item .chosen-single span {
	margin-right: 0!important;
}
.remove-row-cell {
	width: 15px;
}
.remove-row {
	color: var(--dark-grey);
	display: inline-block;
	padding: 3px;
	cursor: pointer;
}
.remove-row:hover {
	color: var(--remove-hover);
}
.remove-row:active {
	color: var(--remove-active);
}
#add-item {
	width: fit-content;
    background: var(--button);
    color: var(--white);
    padding: 4px 10px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    pointer-events: auto;
    white-space: nowrap;
    position: absolute;
    top: 20px;
    right: 25px;
}
#add-item:hover {
	background: var(--button-hover);
}
#add-item:active {
	background: var(--button-active);
}
/*------
TOOLTIPS
------*/
.tooltip {
    position: absolute;
    background: var(--black-translucent);
    color: var(--white);
    padding: 10px;
    width: 280px;
    border: solid 1px var(--selected);
    border-radius: 5px;
	visibility: hidden;
	opacity: 0;
	font-size: 14px;
	line-height: 14px;
	align-items: baseline;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	z-index: 5;
	transition: visibility 0.2s, opacity 0.1s linear;
}
.tooltip * {
	margin: 2px 0;
}
.tooltip h4 {
	color: var(--selected);
	width: 70%;
}
.tooltip *:last-child {
	color: var(--light-grey);
	font-style: italic;
	text-align: right;
}
.spell-tier-tooltip {
	color: var(--light-grey);
	width: 30%;
}
.spell-type-tooltip {
	color: var(--secondary-button);
	text-align: left!important;
}
.spell-description-tooltip {
	flex-basis: 100%;
	margin: 5px 0;
	text-align: left!important;
}
.tooltip *:nth-child(even) {
	text-align: right;
}
.tooltip-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.1s linear, visibility 0s;
}
/*-------
LORE AREA
-------*/
#lore-area {
	margin: 0 15px 15px 10px;
    width: 450px;
    min-width: 260px;
}
.lore-name {
	background: var(--button);
    color: var(--white);
    font-family: 'Oswald', sans-serif;
    padding: 5px 10px 9px 10px;
    font-size: 21px;
    line-height: 21px;
    white-space: nowrap;
	cursor: pointer;
	pointer-events: auto;
	position: relative;
}
.lore-name:after {
	content: "\25BC";
    position: absolute;
    right: 10px;
    top: 4px;
    color: var(--selected);
	font-size: 17px;
}
.lore-name:hover {
	background: var(--button-hover);
}
.lore-name:active {
	background: var(--button-active);
}
.lore-name:hover:after {
    color: var(--selected-hover);
}
.lore-name:active:after {
    color: var(--selected-active);
}
.expanded.lore-name:after {
	content: "\25B2";
}
.lore-description {
    background: var(--white);
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
	display: none;
}
/*-------------------
CHOSEN.JS – CSS FIXES
-------------------*/
.chosen-single, .chosen-drop {
	border-radius:0!important;
	background:var(--white)!important;
	color: var(--black)!important;
	line-height: 18px;
}
.chosen-default {
	color: var(--dark-grey)!important;
	font-style: italic!important;
}

/*------------
RESPONSIVE CSS
------------*/
@media only screen and (max-width: 800px) {
	.char-attribute, .char-attribute-connectors {
		width: 100%!important;
		padding-bottom: 10px;
	}
	.chosen-container {
		width: 100%!important;
	}
	.char-attribute-connectors {
		line-height: 18px;
		text-align: center;
		margin: 0;
	}
	.char-attribute-row {
		flex-wrap: wrap;
		margin: 0;
	}
	.char-attribute-button {
		right: 0!important;
	}
	#wrapper {
		flex-direction: column;
		align-items: center;
		padding: 30px;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}
@media only screen and (max-width: 600px) {
	#spellbook-wrapper {
		padding-left: 0;
		padding-right: 0;
		ustify-content: space-around;
	}
}
@media only screen and (max-width: 450px) {
	.spell {
		margin: 0 -10px;
		border-radius: 0;
	}
	.spell-name {
		border-radius: 0;
	}
}