@import url('https://fonts.googleapis.com/css?family=Lato:700,900|Oswald:400,700');
/*------------
ELEMENT RESETS
-------------*/
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: #212931;
	background-color: #212931;
	text-align: left;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#wrapper {
	width: 100%;
	height: 100%;
}
input, select, div.chosen-container {
	pointer-events: auto;
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}
input, select {
	width: calc( 100% - 1px );
	padding: 6px;
	border: none;
	background-color: #FBFBFB;
	color: #212931;
}
input {
	padding: 8px 6px 6px 6px;
}
h2 {
    color: #FBFBFB;
    font-family: 'Oswald', sans-serif;
	font-size: 35px;
    line-height: 1em;
	margin: 20px 0;
}
h3, h4 {
	margin: 0;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}
h4 {
    font-size: 20px;
    line-height: 20px;
    font-variant: small-caps;
}
p {
	margin-top: 0;
}
strong {
	font-weight: 800;
}
.hidden-section {
	display: none!important;
}
.invisible-section {
	visibility: hidden;
}
.mobile {
	display: none;
}

/*------------------
CHARACTER ATTRIBUTES
------------------*/
#char-attributes {
	max-width: 660px;
}
.char-attribute-row {
	display: flex;
	margin: 15px;
}
.char-attribute-row > div:nth-last-child(n+2){
	margin-right: 15px;
}

/* Text in between inputs */
.char-attribute-connectors {
	line-height: 37px;
	color: #FBFBFB;
	font-family: 'Oswald', sans-serif;
	white-space: nowrap;
}

/* Character attributes */
.char-attribute {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	width: 100%;
}
.char-attribute-input-border {
	background: #6C501B;
	background: -moz-linear-gradient(top, #212931 0%, #6C501B 100%);
	background: -webkit-linear-gradient(top, #212931 0%,#6C501B 100%);
	background: linear-gradient(to bottom, #212931 0%,#6C501B 100%);
	padding: 4px;
	width: 100%;
}
.input-line {
	width: calc( 100% - 12px)
}
label.under-label {
	background: #6C501B;
    color: #FBFBFB;
    min-width: fit-content;
    width: 20%;
    padding: 2px 25px 2px 5px;
    font-family: 'Oswald', sans-serif;
}

/* Buttons */
.char-attribute-button {
	height: 28px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	position: relative;
	top: -28px;
	margin-bottom: -28px;
}
.char-attribute-button div {
	background-color: #212931;
	color: #bdbddb;
	box-shadow: inset 0 0 0 1px #bdbddb;
	padding: 4px 4px 5px 4px;
    line-height: 9px;
    display: inline-flex;
	font-size: 12px;
	cursor: pointer;
	pointer-events: auto;
}
.char-attribute-button div:hover {
	color: #dedeed;
	box-shadow: inset 0 0 0 1px #dedeed;
}
.char-attribute-button div:active {
	color: #9c9cc9;
	box-shadow: inset 0 0 0 1px #9c9cc9;
}
#reset-button div {
	padding: 4px 5px 5px 4px;
}
.clicked {
    background-color: #6C501B!important;
	color: #FBFBFB!important;
	box-shadow: none!important;
}
.clicked:hover {
	background: #7a5a1f!important;
}
.clicked:active {
	background: #513c15!important;
}
/*------------
SPELLBOOK AREA
------------*/
.spellbook-button {
	width: fit-content;
	background: #6C501B;
    color: #FBFBFB;
    padding: 8px 20px;
    font-family: 'Oswald', sans-serif;
	cursor: pointer;
	pointer-events: auto;
	white-space: nowrap;
	margin: 0 15px;
}
.spellbook-button:hover {
	background: #7a5a1f;
}
.spellbook-button:active {
	background: #513c15;
}
/*--------
SPELLBOOK
---------*/
#spellbook-background {
	width: 100%;
	height: 100%;
	background: rgba(33, 41, 49, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	overflow-y: auto;
    pointer-events: auto;
}
#spellbook-wrapper {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
	max-width: 800px;
	margin: 0 auto;
	pointer-events: none;
	padding: 30px;
}
#spellbook-title {
	display:flex;
	align-items: center;
}
#spellbook-title img {
	width: 48px;
	height: 48px;
	margin-right: 10px;
}
#spell-list {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	flex-direction: column;
}
.spell {
	background-color: #FBFBFB;
	color: #212931;
	border-radius: 12px;
	font-size: 13px;
	line-height: 18px;
	margin: 10px;
	cursor: pointer;
	pointer-events: auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.spell-icon {
	background-image: url('images/unknown.png');
	background-size: cover;
	height: 24px;
	width: 24px;
	margin-right: 7px;
	margin-bottom: -3px;
	display: inline-block;
}
.action-spell {
	background-image: url('images/action.png');
}
.lore-spell {
	background-image: url('images/lore.png');
}
.spell-name {
	background-color: #6C501B;
	color: #FBFBFB;
    font-family: 'Oswald', sans-serif;
    padding: 12px 15px 15px 15px;
    font-size: 21px;
    line-height: 21px;
	border-radius: 8px 8px 0 0;
}
.spell-tier {
	float:right;
	display: inline-block;
}
.stats {
	padding: 20px;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stats:empty {
	padding-top: 0!important;
}
.stats span {
	flex-basis: 50%;
}
.stats span:nth-child(even) {
    text-align: right;
}
.spell-description {
	padding: 0 20px;
	clear: both;
}
.spell-origin {
	color: #637180;
	font-style: italic;
	text-align: right;
	margin-left: auto;
}
.required {
	cursor: default;
	pointer-events: none;
}
.spell:hover .spell-name {
	background: #7a5a1f;
}
.spell:active .spell-name {
	background: #513c15;
}
.selected:hover .spell-name {
	background-color: #ecc96a;
}
.selected:active .spell-name {
	background-color: #d4a31c;
}
.selected .spell-name, .required .spell-name {
	background-color: #e6b83d;
	color: #212931;
}
.selected .spell-border, .required .spell-border {
	border-color: #e6b83d;
}
.selected .spell-icon, .required .spell-icon {
	filter: brightness(15%);
}
.disabled-spell {
	filter: grayscale(80%);
    opacity: 0.9;
	cursor: default;
}
.disabled-spell .spell-name {
	background-color: #6C501B!important;
	color: #FBFBFB!important;
}
/*---------
SPELL LISTS
---------*/
#spellbook-area {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 15px 0 0 15px;
}
.spell-section {
	display: none;
	margin: 0 15px 15px 0;
	width: 450px;
    min-width: 260px;
}
.spell-section-bar {
	height: 80px;
	background: #6C501B;
	border-radius: 0 0 0 20px;
	width: 10px;
	float:left;
}
.spell-section-wrap {
	background: #6C501B;
	padding: 3px;
	border-radius: 0 20px 0 20px;
	margin-left: 10px;
}
.spell-header {
	margin: 0;
	color: #212931;
	background: #FBFBFB;
    padding: 15px;
	border-radius: 20px 20px 0 0;
	text-transform: uppercase;
	font-weight: 400;
}
.spell-list {
	background: #FBFBFB;
    color: #212931;
	padding: 0 15px 10px 15px;
	border-radius: 0 0 20px 20px;
	display: flex;
	flex-direction: column;
}
.list-spell {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
	padding: 0 5px 2px 5px;
    border-bottom: 1px dashed #bdbddb;
    white-space: nowrap;
	cursor: help;
	pointer-events: auto;
}
.list-spell:hover, .list-spell:active {
	color: #6c501b;
}
.list-spell span:nth-child(n+2) {
	padding-left: 20px;
}
.tooltip {
    position: absolute;
    background: #212931;
    color: #FBFBFB;
    padding: 10px;
    width: 280px;
    border: solid 1px #e6b83d;
    border-radius: 3px;
	display: none;
	font-size: 14px;
	line-height: 14px;
	align-items: baseline;
	z-index: 5;
}
.tooltip * {
	margin: 2px 0;
}
.tooltip h4 {
	color: #e6b83d;
	width: 70%;
}
.tooltip *:nth-child(even):not(.spell-type-tooltip), .tooltip *:last-child  {
	text-align: right;
}
.tooltip *:last-child {
	color: #bdbddb;
	font-style: italic;
}
.spell-tier-tooltip {
	color: #bdbddb;
}
.spell-description-tooltip {
	flex-basis: 100%;
	margin: 5px 0;
}
.tooltip-visible {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*-------
LORE AREA
-------*/
#lore-area {
	margin: 0 15px 15px 10px;
    width: 450px;
    min-width: 260px;
}
.lore-name {
	background: #6C501B;
    color: #FBFBFB;
    font-family: 'Oswald', sans-serif;
        padding: 5px 10px 9px 10px;
    font-size: 21px;
    line-height: 21px;
    white-space: nowrap;
	cursor: pointer;
	pointer-events: auto;
	position: relative;
}
.lore-name:after {
	content: "\25BC";
    position: absolute;
    right: 10px;
    top: 4px;
    color: #bc8a2f;
	font-size: 17px;
}
.lore-name:hover {
	background: #936c25;
}
.lore-name:active {
	background: #413010;
}
.lore-name:hover:after {
    color: #d2a34b;
}
.lore-name:active:after {
    color: #936c25;
}
.expanded.lore-name:after {
	content: "\25B2";
}
.lore-description {
    background: #FBFBFB;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
	display: none;
}
/*-------------------
CHOSEN.JS – CSS FIXES
-------------------*/
.chosen-single, .chosen-drop {
	border-radius:0!important;
	background: #FBFBFB!important;
	color: #212931!important;
}
.chosen-default {
	color: #4a5764!important;
	font-style: italic!important;
}

/*------------
RESPONSIVE CSS
------------*/
@media only screen and (max-width: 800px) {
	.char-attribute, .char-attribute-connectors {
		width: 100%!important;
		padding-bottom: 10px;
	}
	.chosen-container {
		width: 100%!important;
	}
	.char-attribute-connectors {
		line-height: 18px;
		text-align: center;
		margin: 0;
	}
	.char-attribute-row {
		flex-wrap: wrap;
		margin: 0;
	}
	.char-attribute-button {
		right: 0!important;
	}
	#wrapper {
		flex-direction: column;
		align-items: center;
		padding: 30px;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}
@media only screen and (max-width: 600px) {
	#spellbook-wrapper {
		padding-left: 0;
		padding-right: 0;
		ustify-content: space-around;
	}
}
@media only screen and (max-width: 450px) {
	.spell {
		margin: 0 -10px;
		border-radius: 0;
	}
	.spell-name {
		border-radius: 0;
	}
}